body {
  background-color: white;
  margin: 0px;
  padding: 0px;
}
table.nav {
  background-color: black;
  width: 100%;
}
span.nav {
  font-family: 'Verdana', sans-serif;
}
a.nav {
  text-decoration: none;
  color: #dedede;
  display: block;
  padding: 10px;
}
td.nav {

}
td.nav:hover {
  background-color: #333333;
}
