.account-dropdown {
  margin: 0px;
  position: fixed;
  display: none;
  background-color: white;
  width: 100px;
  border-style: solid;
  border-color: #b0b0b0;
  border-width: 2px;
  border-radius: 2px;
}
.more-dropdown {
  margin: 0px;
  position: fixed;
  display: none;
  background-color: white;
  width: 200px;
  border-style: solid;
  border-color: #b0b0b0;
  border-width: 2px;
  border-radius: 2px;
}
.dropdown-item {
  background-color: white;
}
.dropdown-item:hover {
  background-color: #b0b0b0;
}
.dropdown-content {
  color: black;
  font-family: 'Verdana', sans-serif;
  font-weight: 11px;
  text-align: left;
  text-decoration: none;
}
.show {
  display: block;
}
