.link-uline {
  text-decoration: none;
}
.link-uline:hover {
  text-decoration: underline;
}
.link-noline {
  text-decoration: none;
}
span.link-uline {
  text-decoration: none;
}
span.link-uline:hover {
  text-decoration: underline;
  cursor: pointer;
}
span.link-noline {
  text-decoration: none;
}
.toplinks {
  color: gray;
  font-family: 'Verdana', sans-serif;
  font-size: 13px;
  text-align: center;
}
.searchbox-large {
  border-radius: 30px;
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  padding: 5px;
  padding-left: 20px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  outline: none;
}
.a-searchbtn {
  padding: 7px;
  font-family: 'Verdana', sans-serif;
  border-style: none;
  outline: none;
}
.a-searchbtn:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}
.b-searchbtn {
  padding: 7px;
  font-family: 'Verdana', sans-serif;
  border-style: none;
  outline: none;
}
.b-searchbtn:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}
a.bottomlinks {
  color: gray;
  font-family: 'Verdana', sans-serif;
  font-size: 13px;
  text-align: center;
}
