.link-uline {
  text-decoration: none;
}
.link-uline:hover {
  text-decoration: underline;
}
.link-noline {
  text-decoration: none;
}
span.link-uline {
  text-decoration: none;
}
span.link-uline:hover {
  text-decoration: underline;
  cursor: pointer;
}
span.link-noline {
  text-decoration: none;
}
.toplinks {
  color: gray;
  font-family: 'Verdana', sans-serif;
  font-size: 11px;
  text-align: center;
}
.searchbox-large {
  border-radius: 10px;
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  padding: 5px;
  padding-left: 20px;
}
.a-searchbtn {
  padding: 5px;
  font-family: 'Verdana', sans-serif;
  border-style: none;
}
.a-searchbtn:hover {
  border-style: solid;
}
.b-searchbtn {
  padding: 5px;
  font-family: 'Verdana', sans-serif;
  border-style: none;
}
.b-searchbtn:hover {
  border-style: solid;
}
.bottomlinks {
  color: gray;
  font-family: 'Verdana', sans-serif;
  font-size: 11px;
  text-align: center;
}
